@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  gap: 2em;
  background-color: #f0ffff;
  background: rgb(196, 196, 213);
  background: linear-gradient(
    90deg,
    rgba(196, 196, 213, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* HEADING SECTION */
.heading {
  margin-bottom: 1em;
  opacity: 1;
}

.heading h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #484848;
}

.heading.hide {
  opacity: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -5em;
}

.add-book-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.add-book-div.hide {
  opacity: 0;
}

p {
  text-align: center;
  margin: 3em;
  font-weight: 600;
  font-size: 1.2rem;
  color: #484848;
}

.fa-plus {
  padding-right: 0.2em;
}

#addBook-btn {
  width: 20em;
  height: 3em;
  border-radius: 50px;
  border: none;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 800;
  background-color: white;
  box-shadow: 0 4px 4px -4px black;
}

#addBook-btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/* MODAL */
.pop-up {
  width: 25em;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px gray;
  align-self: center;
  border-radius: 5px;
  border: none;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

.pop-up.show {
  opacity: 1;
  visibility: visible;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.form-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 25em;
}

span {
  padding-top: 1em;
  font-size: 1rem;
}

input {
  width: 80%;
  padding: 0.8em;
  border: 0.5px solid gray;
  border-radius: 2px;
}

.radio-inputs-wrapper {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

.buttons-div {
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttons-div button {
  width: 80%;
}

#submit-btn {
  font-weight: 600;
  background-color: #e1ebee;
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#cancel-btn {
  font-weight: 600;
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#submit-btn:hover,
#cancel-btn:hover {
  cursor: pointer;
  background-color: white;
}

/* TABLE */
.clear-list-btn {
  align-self: flex-end;
  position: absolute;
  right: -10px;
  z-index: 10;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.clear-list-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.table-box {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  visibility: visible;
  margin-top: 2em;
}

.table-box.hide {
  visibility: hidden;
}

table {
  width: 100%;
  background-color: white;
  margin-top: 2em;
  margin-bottom: 10em;
  box-shadow: 1px 1px 1px gray;
  border: none;
  border-radius: 5px;
  border-collapse: collapse;
  border-spacing: 3px 0;
}

th,
td {
  text-align: left;
  padding: 1em;
}

tr {
  opacity: 1;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

tr.saved {
  background-color: lightcyan;
  opacity: 0.8;
  transform: scale(1.02);
}

.row input {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
}

.row input.edit {
  border: 0.5px solid gray;
  background-color: white;
  outline: auto;
}

.row .fa-check:hover {
  cursor: pointer;
}

.row .fa-check.show {
  opacity: 1;
  visibility: visible;
}

.fa-toggle-on:hover,
.fa-toggle-off:hover {
  cursor: pointer;
}

.fa-trash,
.fa-pencil {
  color: #000000;
  transition: transform 0.2s ease-in-out;
}

.fa-pencil.hide {
  opacity: 0;
  visibility: hidden;
}

.fa-trash:hover,
.fa-pencil:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.message-success {
  text-align: center;
  display: inline;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10em;
  padding: 1em;
  font-weight: 800;
  opacity: 0;
  visibility: hidden;
}

.message-success.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.fa-check {
  color: green;
}

/* Media Queries */

/* MOBILE  */
@media screen and (min-width: 320px) {
  html {
    font-size: 40%;
  }

  .pop-up {
    margin-top: 200px;
  }

  form button,
  form input {
    font-size: 95%;
  }

  table input {
    font-size: 20%;
  }

  .clear-list-btn {
    top: 8px;
    right: -3px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }

  .clear-list-btn {
    top: 15px;
    right: -8px;
  }

  table input {
    font-size: 70%;
  }
}

/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }

  table input {
    font-size: 100%;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
