@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  gap: 2em;
  background: rgb(196, 196, 213);
}

/* HEADING SECTION */
.heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  opacity: 1;
}

.heading.hide {
  opacity: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -5em;
}

.add-book-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-book-div.hide {
  display: none;
}

p {
  text-align: center;
  margin: 3em;
  font-weight: 600;
  font-size: 1.2rem;
}

#addBook-btn {
  width: 15em;
  height: 3em;
  border-radius: 50px;
  border: none;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 800;
  background-color: #e1ebee;
  box-shadow: 0 4px 4px -4px black;
}

#addBook-btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

/* MODAL */
.pop-up {
  width: 25em;
  background-color: #f0f0f0;
  align-self: center;
  border-radius: 5px;
  border: none;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 25em;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

.pop-up.show {
  opacity: 1;
  visibility: visible;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.form-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 25em;
}

span {
  padding-top: 1em;
  font-size: 1rem;
}

input {
  width: 80%;
  padding: 0.8em;
  border: 0.5px solid gray;
  border-radius: 2px;
}

#yes,
#no {
  margin: 2em;
  width: 1.25em;
}

.buttons-div {
  width: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#submit-btn {
  width: 40%;
  font-weight: 600;
  background-color: #e1ebee;
  padding: 1em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#cancel-btn {
  width: 40%;
  font-weight: 600;
  background-color: #e1ebee;
  padding: 1em;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

#submit-btn:hover,
#cancel-btn:hover {
  cursor: pointer;
  background-color: white;
}

/* TABLE */
.clear-list-btn {
  visibility: hidden;
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  right: -5px;
  z-index: 10;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.clear-list-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.clear-list-btn.show {
  visibility: visible;
  opacity: 1;
}

.table-box {
  position: relative;
  opacity: 0;
  visibility: 0;
}

.table-box.show {
  opacity: 1;
}

table {
  border-collapse: collapse;
  margin-top: 2em;
  background-color: #e1ebee;
  margin-bottom: 10em;
  box-shadow: 1px 1px 1px gray;
  border: none;
  border-radius: 5px;
}

.fa-toggle-on:hover,
.fa-toggle-off:hover {
  cursor: pointer;
}

.btn-delete i {
  color: #000000;
  transition: transform 0.2s ease-in-out;
}

.btn-delete i:hover {
  transform: scale(1.1);
}

.success {
  text-align: center;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10em;
  padding: 1em;
  font-weight: 800;
}

/* Media Queries */

/* MOBILE  */
@media screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }

  .pop-up {
    margin-top: 200px;
  }

  td,
  th {
    padding: 1em 3em;
    font-size: 40%;
  }

  input {
    width: 80%;
  }

  .buttons-div {
    flex-direction: column;
  }

  .clear-list-btn {
    top: 10px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }

  td,
  th {
    padding: 1em 3em;
    font-size: 80%;
  }

  .clear-list-btn {
    top: 15px;
  }

  .buttons-div {
    flex-direction: row;
  }
}

/* DESKTOP & TABLET LANDSCAPE */
@media screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }

  td,
  th {
    padding: 1em 4em;
    font-size: 100%;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}
